img{
  display:block;
  margin:1%;
  padding:1%;
  width:95%;
}
.left{
  width: 30%;
  background:  #9ceaab;
  margin:1%;
  padding:1%;
  border:2px solid black;
  text-align: center;
}
.right{
  background:  #8e77bf;
  width:60%;
  padding:1%;
  margin:1%;
  border:2px solid black;

}
.main{
  background:blue;
  display:flex;
}
table{
  text-align: center;
  border: 2px solid red;
  width:95%;
}
